/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
  /* Colors */
  --primary-blue: #002772;
  --primary-purple: #720060;
  --primary-black: #1E1E1E;
  --primary-white: #FFFFFF;
  --primary-gray: #3F3F3F;
  --secondary-blue: #D6E6FF;
  --secondary-purple: #FDE2FF;
  --secondary-black: #3F3F3F;

  /* Font */
  --body-font: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}